<html>
    <head>
        <title>Terminal</title>
        <!--<link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/x-icon"/>-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
    <body>
    <script>
        let BASE = '{{base}}'; let QUOTE='{{quote}}';
        let tickers = {{tickers_json|tojson}};
        let precision = {{precision_json|tojson}};
        let base_asset = {{base_asset_json|tojson}};
        let quote_asset = {{quote_asset_json|tojson}};
        let active_pairs = {{active_json|tojson}};
    </script>
        <!--<div id="head">
            <a draggable="false" class="head-cell">
                <img src="{{ url_for('static',filename='logo.svg') }}" alt="Logo" draggable="false">
            </a>
            <a class="head-cell right" id="bnb-amount">DEMO</a>
            <a class="head-cell right" id="btc-amount"></a>
        </div>-->

        <div id="content">
            <div class="column c100" style="font-size: 16px" id="pair-label">
                <b>{{base}}</b>/{{quote}}
            </div>
            <div class="column c20">
                <div class="container h400" style="display:flex; padding: 5px">
                <ul class="depth" id="depth">
                </ul>
                </div>
            </div>
            <div class="column c60">
                <div class="container h400" id="chart-container" style="padding: 5px">
                    <div class="interval-nav">
                        <div class="interval-btn" id="int1m"  onclick="choose_interval('1m')">1m</div>
                        <div class="interval-btn" id="int3m"  onclick="choose_interval('3m')">3m</div>
                        <div class="interval-btn" id="int5m"  onclick="choose_interval('5m')">5m</div>
                        <div class="interval-btn" id="int15m" onclick="choose_interval('15m')">15m</div>
                        <div class="interval-btn" id="int30m" onclick="choose_interval('30m')">30m</div>
                        <div class="interval-btn" id="int1h"  onclick="choose_interval('1h')">1h</div>
                        <div class="interval-btn" id="int2h"  onclick="choose_interval('2h')">2h</div>
                        <div class="interval-btn" id="int4h"  onclick="choose_interval('4h')">4h</div>
                        <div class="interval-btn" id="int6h"  onclick="choose_interval('6h')">6h</div>
                        <div class="interval-btn" id="int1d"  onclick="choose_interval('1d')">1d</div>
                        <div class="interval-btn" id="int1w"  onclick="choose_interval('1w')">1w</div>
                        <div class="interval-btn" id="int1Mo"  onclick="choose_interval('1M')">1M</div>
                        <div class="control-btn" onclick="reset_scale();redraw()">■</div>
                    </div>
                    <canvas id="chart"></canvas>
                </div>
            </div>
            <div class="column c20">
                <div class="container" style="height:410px">
                    <div class="row quote-group-selector">
                        <div class="quote-group" id="star-qg" onclick="change_quote_group(0)">★</div>
                        <div class="quote-group" id="active-qg" onclick="change_quote_group(0)">Active</div>
                        <div class="quote-group" id="btc-qg" onclick="change_quote_group(1)">BTC</div>
                        <div class="quote-group" id="bnb-qg" onclick="change_quote_group(2)">BNB</div>
                        <div class="quote-group" id="alts-qg" onclick="change_quote_group(3)">ALTS</div>
                        <div class="quote-group" id="usd-qg" onclick="change_quote_group(4)">USD</div>
                    </div>
                    <div class="row">
                        <div class="currency head" onclick="pairs_sort_by_name()">Currency</div>
                        <div class="change head" onclick="pairs_sort_by_change()">Change</div>
                        <div class="cur_price head" onclick="pairs_sort_by_price()">Price:</div>
                    </div>
                    <div id="pairs">
                    <div class="row pair">
                        <div class="currency">ADA/BTC</div>
                        <div class="cur_price">0.08151</div>
                        <div class="change red">-2.79%</div>
                    </div>
                    <div class="row pair">
                        <div class="currency">XRP/USDT</div>
                        <div class="cur_price">0.95331</div>
                        <div class="change green">+3.75%</div>
                    </div>
                    <div class="row pair">
                        <div class="currency">BNB/USDT</div>
                        <div class="cur_price">33.421</div>
                        <div class="change green">+9.39%</div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="column c100">
                <div class="container default-orders" style="display: flex">
                    <div class="order-section">
                        <div class="order-type-select">
                            <div class="order-type active" id="type-limit" onclick="choose_order_type(OrderType.Limit)">Limit</div>
                            <div class="order-type" id="type-stop-loss" onclick="choose_order_type(OrderType.StopLoss)">Stop loss</div>
                            <div class="order-type" id="type-take-profit" onclick="choose_order_type(OrderType.TakeProfit)">Take profit</div>
                            <div class="order-type last" id="type-trailing-take-profit" onclick="choose_order_type(OrderType.TrailingTakeProfit)">Trailing</div>
                        </div>
                        <div class="buy-section">
                            <div class="description"></div>
                            <div class="row">
                                <div class="input-name">Asset:</div>
                                <div class="asset quote" >{{quote_asset_free}}</div>
                                <span class="input-currency quote">{{QUOTE}}</span>
                            </div>
                            <div class="row">
                                <div class="input-name price-label">Price:</div>
                                <input class="price"  type="number" name="price" step="0.01" min="0" value="">
                                <span class="input-currency quote">{{QUOTE}}</span>
                            </div>
                            <div class="row delta" style="display: none">
                                <div class="input-name delta-label">Delta:</div>
                                <input class="price delta"  type="number" name="delta" step="0.01" min="0" value="">
                                <span class="input-currency quote">{{QUOTE}}</span>
                            </div>
                            <div class="row">
                                <div class="market-button">Market</div>
                            </div>
                            <div class="row">
                                <div class="input-name">Amount:</div>
                                <input class="amount base" type="number" name="amount" step="1e-6" min="0" value="">
                                <span class="input-currency base">{{BASE}}</span>
                            </div>
                            <div class="row percents">
                                <div class="percent-amount">5%</div>
                                <div class="percent-amount">10%</div>
                                <div class="percent-amount">20%</div>
                                <div class="percent-amount last">40%</div>
                            </div>
                            <div class="row percents">
                                <div class="percent-amount">25%</div>
                                <div class="percent-amount">50%</div>
                                <div class="percent-amount">75%</div>
                                <div class="percent-amount last">100%</div>
                            </div>
                            <div class="row">
                                <div class="input-name">Total:</div>
                                <input class="amount quote" type="number" name="amount" step="1e-6" min="0" value="">
                                <span class="input-currency quote">{{QUOTE}}</span>
                            </div>
                            <div class="row">
                                <div class="buy-btn" onclick="createOrder('BUY')">Buy</div>
                            </div>
                        </div>
                        <div class="sell-section">
                            <div class="description"></div>
                            <div class="row">
                                <div class="input-name">Asset:</div>
                                <div class="asset base" >{{base_asset_free}}</div>
                                <span class="input-currency base">{{BASE}}</span>
                            </div>
                            <div class="row">
                                <div class="input-name price-label">Price:</div>
                                <input class="price"  type="number" name="price" step="0.01" min="0" value="">
                                <span class="input-currency quote">{{QUOTE}}</span>
                            </div>
                            <div class="row delta"  style="display: none">
                                <div class="input-name delta-label">Delta:</div>
                                <input class="price delta"  type="number" name="delta" step="0.01" min="0" value="">
                                <span class="input-currency quote">{{QUOTE}}</span>
                            </div>
                            <div class="row">
                                <div class="market-button">Market</div>
                            </div>
                            <div class="row">
                                <div class="input-name">Amount:</div>
                                <input class="amount base" type="number" name="amount" step="1e-6" min="0" value="">
                                <span class="input-currency base">{{BASE}}</span>
                            </div>
                            <div class="row percents">
                                <div class="percent-amount">5%</div>
                                <div class="percent-amount">10%</div>
                                <div class="percent-amount">20%</div>
                                <div class="percent-amount last">40%</div>
                            </div>
                            <div class="row percents">
                                <div class="percent-amount">25%</div>
                                <div class="percent-amount">50%</div>
                                <div class="percent-amount">75%</div>
                                <div class="percent-amount last">100%</div>
                            </div>
                            <div class="row">
                                <div class="input-name">Total:</div>
                                <input class="amount quote" type="number" name="amount" step="1e-6" min="0" value="">
                                <span class="input-currency quote">{{QUOTE}}</span>
                            </div>
                            <div class="row">
                                <div class="sell-btn" onclick="createOrder('SELL')">Sell</div>
                            </div>
                        </div>
                    </div> <!-- ORDERS -->
                    <div class="shaurma-section">
                        <div class="shaurma">Signal</div>
                        <div class="coming-soon">coming soon...</div>
                    </div> <!-- SHAURMA* -->
                    <div class="position-section"> <!-- POSITION -->

                        <div class="shaurma">No position</div>
                        <!--<div class="balance-info">
                            <div class="base-currency-info">
                                <div class="row">
                                    <div class="name">Bought:</div>
                                    <div class="value yellow">1576 TRX</div>
                                </div>
                                <div class="row">
                                    <div class="name">Sold:</div>
                                    <div class="value yellow">1300 TRX</div>
                                </div>
                                <div class="row">
                                    <div class="name">Balance:</div>
                                    <div class="value yellow">276 TRX</div>
                                </div>
                            </div>
                            <div class="quote-currency-info">
                                <div class="row">
                                    <div class="name">Spent:</div>
                                    <div class="value red">-0.01012 BTC</div>
                                </div>
                                <div class="row">
                                    <div class="name">Gained:</div>
                                    <div class="value green">+0.05141 BTC</div>
                                </div>
                                <div class="row">
                                    <div class="name">Potentially gained:</div>
                                    <div class="value green">+0.0113 BTC</div>
                                </div>
                            </div>
                        </div>
                        <div style="padding: 0 5px 5px 5px;">
                            <div class="row" style="border-top: 1px solid #DDDDDD">
                                <div class="name">Current profit/loss:</div>
                                <div class="value green">+0.00118 BTC</div>
                                <div class="value green percent">+1.3 %</div>
                            </div>
                        </div>
                        <div class="row alerts">
                            <div class="alert red">
                                Stop loss
                            </div>
                            <div class="alert yellow">
                                Take profit
                            </div>
                            <div class="alert last yellow">
                                Safe amount
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="column c100">
                <div class="container active-orders" style="display: flex;padding: 5px">
                    <table id="active-orders" class="orders">
                            <tr>
                                <td>Time</td>
                                <td>Order</td>
                                <td>Status</td>
                                <td>Last update</td>
                                <td>High</td>
                                <td>Low</td>
                                <td></td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
     <script src="{{ url_for('static',filename='js/chart.js') }}"></script>
     <script src="{{ url_for('static',filename='js/depth.js') }}"></script>
     <script src="{{ url_for('static',filename='js/pairs.js') }}"></script>
     <script src="{{ url_for('static',filename='js/order.js') }}"></script>
     <script src="{{ url_for('static',filename='js/orders.js') }}"></script>
    </body>
</html>